<%= form_for @config do |form| %>
<div class="field">
<%= form.label :url %>
<%= form.text_field :url %> 
</div>

<div class="actions">
<%= form.submit 'Submit', controller: 'eventracker', method: 'post' %>
</div>

<% end %>